.App{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(252, 235, 214);
    width: 100%;
    min-height: 97vh;
    margin:0;
    padding:0;
    flex-wrap: wrap;
}

.itemContainer{
    display: flex;
    /* flex-wrap: wrap; */
    /* border:2px solid black; */
}

.item{
    /* width: 100%; */
    padding: 0.5rem;
    margin:2rem;
    background-color: bisque;
    box-shadow: -2px 2px 2px 2px rgb(243, 182, 109);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    font-size: larger;
}

.btn{
    padding: 0.4rem;
    border-radius: 10px;
}

.cart{
    /* border:2px solid black; */
    min-width: 50%;
}

.cartList{
    /* border:2px solid black; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: larger;

}
.cartTotal{
    /* border:2px solid black; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: larger;
}